Hi <%= @user.name %>,
<br/>
<div style="text-align:justify;">
  We already register and activate your account Here is your account details:
  <br/>
        Email: <%= @user.email %><br/>
        Password: <%= @password  %>
  <br/>
  We suggest you to change your password. Your account might have
  been hijacked. To get back into your account, you will need to
  reset your password.
</div>
<br/>
Sincerely,
<br/>
AIT Image Cropper Team
